/**/

canvas {
  background-image: url("https://image.freepik.com/vetores-gratis/plano-de-fundo-detalhado-da-selva_52683-62631.jpg");
  width: 100%;
}
 button {
  height: 60px; 
 }

 button svg{ 
   width: 40px;
   height: 40px;
 }